* {
    text-align: center;
    background-image: url("../Images/dark_wood_@2X.png");
}

.clearfix::after{
    content:"";
    clear:both;
    display:block;
    width: 100%;
}



/* Beginning of header styles for website , same style should be applied to each page to create a  united theme*/

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    width:100%;
    background-image: url(../Images/pink\ dust.png);
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 50px;
    margin: 0px;
    content: "";
    clear:both;
}

#logo {
    float: left;
    height: 100%;
    color: rgb(88, 57, 52);
    font-size: 25px;
    position: relative;
    bottom: 45px;
    right: 20px;
    padding: 30px 0px 30px 0px;
    margin: 5px;
    background-image:url("../Images/retina_wood_@2X.png")
}

#nav-bar {
 border: none;

    

}

.nav-links {
    float: right;
    font-size: 20px;
    color: rgb(88, 57, 52);
    position: relative;
    right: 45px;
    bottom: 40px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 10px;
}

/* Effects for navbar Links */

a:link, a:visited {
    background-image: url(../Images/retina_wood_@2X.png);
    color: rgb(88, 57, 52);
    text-align: center; 
    text-decoration: none;
    margin: 0px;
    font-size: 25px;
}

a:hover, a:active {
    background-image:url(../Images/swirl_pattern.png);
    color: black;
}

/* Beginning of main-content in relation to the about me page */
#main-content {
    float: left;
    text-align: left;
    position: relative;  
    padding: 25px 10px 25px 25px;
    bottom: 35px;
    margin: 20px;
    width: 87%;
    background-image: url("../Images/pink\ dust.png");
    color: white;
}


h1 {
    padding: 20px 0px 20px 0px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    width: 100%;
    text-align: center;
}

h2 {
    float: left;
    text-align: center;
    position: relative;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    color: rgb(50, 240, 50);
    width: 100%;
    font-size: 35px;
    background-image: url("../Images/pink\ dust.png");
}

#profile-pic {
    float: left;
    width: 25%;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;

 
    

}

p {
    float: left;
    padding: 0px;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    margin: px 0px 0px 0px;
    text-align: left;
    color:rgb(54, 247, 231);
    font-size: 25px;
    width: 100%;
    height:100%;
    background-image: url("../Images/pink\ dust.png");
}

#article {
    float:left;
    width: 73%;
    margin: 0px;
    
    
}

#content2 {
float: right;
width: 100%;
padding:0;
position: relative;
left: 10px;
background-image: url("../Images/pink\ dust.png");



}

#footer-p {
    position: relative;
    font-size: 25px;
    
}

footer {
    padding: 0px 0px 175px 0px;
    background-image: url("../Images/pink\ dust.png");
    margin: 20px;
    color: rgb(98, 190, 98);
}
